<!doctype html>
<title>BankManageSystem</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>BankManageSystem</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  <div class=oper>
  {% if not session.logged_in %}
    <a href="{{ url_for('regist') }}">Regist</a>
  {% else %}
    <a href="{{ url_for('save') }}">Save Money</a>
    <a href="{{ url_for('draw') }}">Draw Money</a>
    <a href="{{ url_for('show') }}">Show Money</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>